@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

/* Add custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #F8F9FF;
}

::-webkit-scrollbar-thumb {
  background: #1B2E6E;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #CC1F1F;
}